<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Tempus Time Keeper - Live Forever</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="time tracking for people who hate tracking time">
    <meta name="author" content="simensen@gmail.com, joshlarosee@gmail.com">

        <link href="{{ app.request.basePath }}/assets/css/bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="{{ app.request.basePath }}/assets/css/bootstrap-responsive.css" rel="stylesheet" type="text/css" />
        <style>
          body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
          }
        </style>

  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Project name</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="{% if app.request.attributes.get('_route') == '' %}active{% endif %}"><a href="{{ app.url_generator.generate('dashboard') }}">Dashboard</a></li>
              <li class="{% if app.request.attributes.get('_route') == 'projects' %}active{% endif %}"><a href="{{ app.url_generator.generate('projects') }}">Projects</a></li>
              <li class="{% if app.request.attributes.get('_route') == 'user' %}active{% endif %}"><a href="/tempus_dev.php/user/larosee">People</a></li>
              <li class="{% if app.request.attributes.get('_route') == 'activities' %}active{% endif %}"><a href="{{ app.url_generator.generate('activities') }}">Activities</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
       {% block content %}Fallback content goes here{% endblock %}
    </div> <!-- /container -->

    <script src="../assets/js/jquery.js"></script>
    <!--
    <script src="../assets/js/bootstrap-transition.js"></script>
    <script src="../assets/js/bootstrap-alert.js"></script>
    <script src="../assets/js/bootstrap-modal.js"></script>
    <script src="../assets/js/bootstrap-dropdown.js"></script>
    <script src="../assets/js/bootstrap-scrollspy.js"></script>
    <script src="../assets/js/bootstrap-tab.js"></script>
    <script src="../assets/js/bootstrap-tooltip.js"></script>
    <script src="../assets/js/bootstrap-popover.js"></script>
    <script src="../assets/js/bootstrap-button.js"></script>
    <script src="../assets/js/bootstrap-collapse.js"></script>
    <script src="../assets/js/bootstrap-carousel.js"></script>
    <script src="../assets/js/bootstrap-typeahead.js"></script>
    -->

  </body>

</html>
